menu "RT-Thread board config"

    config IS_FPGA
        bool "Is FPGA Board"
        default n
choice
    prompt "Board Type"
    default RT_USING_BOARD_FPGA

    config RT_USING_BOARD_FPGA
        bool "Enable FPGA board"
        select IS_FPGA

    config RT_USING_BOARD_ADSP_DEMO
        bool "Enable ADSP demo board"

    config RT_USING_BOARD_IOTEST
        bool "Enable io test board"

    config RT_USING_BOARD_SOUNDBAR_CORE
        bool "Enable soundbar core board"

    config RT_USING_BOARD_EVB
        bool "Enable evb board"

    config RT_USING_BOARD_TEST1
        bool "Enable test1 board"

endchoice

endmenu
